@import '_setting';
@import '_header';
@import '_footer';

.topic{
    margin-top: 92px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
       font-size: 48px;
       color: #fff;
       font-weight: 500;
       letter-spacing: 8px;
    }
}
.give_topic{
    background: url(../img/Give-bg.jpg) center center no-repeat;
    background-size: cover;
}
.give_content{
    padding: 80px 0;
    @media (max-width: 960px){
        padding: 40px 0;
    }
    &.gray{
        background: #f5f5f5;
    }
    &.yellow{
        // background: url(../img/bg-orange.svg) right top no-repeat;
        // background-size: 100% auto;
        background: #FFF8EA;
        }
    .content_title{
        font-size: 32px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 3px;
        text-align: center;
        h3{
            display: inline-block;
            z-index: 2;
        }
    }
    .join_content{
        .join_icon{
            display: flex;
            justify-content: space-between;
            max-width: 960px;
            margin: 40px auto 80px;
            .item{
                width: 25%;
            }
        }
        .join_link{
            display: flex;
            justify-content: center;            
            gap: 40px;
            a{
                font-size: 24px;
                font-weight: 500;
                span{
                    font-size: 28px;
                    vertical-align: middle;
                    margin-bottom: 4px;
                }
            }   
        }
        .join_pricing{
            display: flex;
            justify-content: center;          
            gap: 60px;
            .item{
                background: url(../img/bg-gray.svg) center center no-repeat;
                background-size: contain;
                padding: 40px 60px 60px;
                img{
                    width: 40px;
                    margin: 0 auto;
                }
                h4{
                    text-align: center;
                    margin-top: 12px;
                    margin-bottom: 24px;
                }
                p{
                    margin-top: 4px;
                }

            }

        }
    }
}
.partners_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
