@import '_setting';
@import '_header';
@import '_footer';

.topic{
    margin-top: 92px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
       font-size: 48px;
       color: #fff;
       font-weight: 500;
       letter-spacing: 8px;
    }
}
.donate_topic{
    background: url(../img/Support-bg.jpg) center center no-repeat;
    background-size: cover;
}
.donate_content{
    padding: 60px 0;
    background: url(../img/home_service-bg.svg) left top no-repeat;
    background-size: contain;
    &.gray{
        background: #f4f5f6;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_title{
        font-size: 32px;
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 3px;
        h3{
            margin-top: 20px;
        }
    }
     
    .content_intro{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .intro_photo{
            position: relative;
        }

        .intro_feature{
            ul{
                max-width: 800px;
                margin: 0 auto;
                li{
                    display: flex;
                    flex-direction: column;
                    line-height: 2;
                    letter-spacing: 1px;
                    font-family: $_font-sans;
                    justify-content: space-between;
                    padding: 12px 0 12px 54px;
                    position: relative;
                }

                li + li{
                    margin-top: 12px;
                }
            }
        }
    } 
    .donate_icon{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: 80px;
        display: flex;
        align-items: center;
        .item{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon{
                width: 80%;
                margin-top: 20px;
            }
            h4{
                margin: 20px 0 0;
            }
        }
    }
    .content_form{
        width: 100%;
        margin-top: 60px;
        .donate_form{
            width: 100%;
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            justify-content: center;
            padding: 40px;
            border-radius: 20px;
            background: #f4f5f6;
            
            h3{
                margin: 0 auto 40px;
            }
            label {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-weight: bold;
                margin-bottom: 5px;
                letter-spacing: 1px;
            
                span {
                    color: red;
                }
                span.note{
                    display: flex;
                    font-size: 12px;
                    margin-left: 20px;
                    color: #717171;
                }
                a{
                    text-decoration: underline;
                }
            }
            input[type="text"],
            input[type="phone"],
            input[type="tel"],
            input[type="email"],
            input[type="date"],
            input[type="department"],
            input[type="position"],
            input[type="address"],
            select,
            textarea {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border-radius: 6px;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }
            
            input[type="radio"], input[type="checkbox"]{
                border: 1px solid #000;
                padding: 0;
                width: 18px;
                height: 18px;
                margin-right: 8px;
                &:checked{
                    background: url(../img/check.svg) center center no-repeat;
                    background-size: contain;
                }
            }
            textarea {
                resize: vertical;
            }
            
              .gradient-button:hover {
                opacity: 0.85;
              }

            ::placeholder{
                color: #a8a8a8;
                letter-spacing: 1px;
                font-weight: 300;
            }
            
            .form-row {
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
            }
            
            .two-cols {
                display: flex;
                gap: 20px;
            }
            
            .two-cols > div {
                flex: 1;
            }
            
            .three-cols {
                display: flex;
                gap: 10px;
            }
            
            .three-cols select {
                width: 30%;
            }
            
            .three-cols input {
                flex: 1;
            }    
        }
    }


    button{
        background: $linear-color;
        color: white;
        border: none;
        padding: 12px 24px;
        border-radius: 6px;
        font-size: 20px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: opacity 0.3s ease;
        margin-top: 32px;
        &:hover {
            opacity: 0.85;
          }
      }
}
